<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />

    <title>Vehicle - Page 1</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:remove="tag" th:utext="${navigationNavbar}"></div>

<img src="/" th:src="@{${signalImgUrl}}" width="0" height="0" />

<div class="container">
    <div class="jumbotron">
        <h1>Vehicle</h1>
        <h2>Page 1</h2>

        <div th:if="${carIsSelected}">
            <p>Ausgewähltes Auto: <span style="font-weight:bold" th:text="${selectedCar.model}"></span></p>
        </div>
        <div th:unless="${carIsSelected}">
            <form action="#" th:action="@{/page1}" th:object="${selectedCar}" method="post">
                <div class="form-group">
                    <label for="carSelect">Auto auswählen:</label>
                    <select id="carSelect" class="form-control" th:field="*{carId}">
                        <option th:each="car : ${carList}"
                                th:value="${car.carId}"
                                th:text="${car.model}">Cars</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-default">Auswählen</button>
            </form>
        </div>

        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
            aliquyam</p>
    </div>
</div>

</body>
</html>
