<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />

    <th:block th:fragment="head_bootstrap">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
            th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    </th:block>
</head>

<body>
<nav class="navbar navbar-default" th:fragment="navbar(navdata)">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand">scs</span>
        </div>
        <ul class="nav navbar-nav" th:each="service : ${navdata.services}">
            <li th:if="${service.subServices}" class="dropdown" th:classappend="(${service.active} ? 'active ' : '') + (${service.disabled} ? 'disabled' : '')">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" th:href="@{${service.url}}">
                    <span th:text="${service.name}">Vehicle</span> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li th:each="subService : ${service.subServices}">
                        <a href="#" th:href="@{${subService.url}}" th:text="${subService.name}">Vehicle 1</a>
                    </li>
                </ul>
            </li>
            <li th:unless="${service.subServices}" th:classappend="(${service.active} ? 'active ' : '') + (${service.disabled} ? 'disabled' : '')">
                <a href="#" th:href="@{${service.url}}" th:text="${service.name}">Home</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span>
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="disabled"><a href="#">Sign Up</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li><a href="#">News <span class="badge">5</span></a></li>
                    <li><a href="#">Profile</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>
